{% extends 'base.html' %}
{% block body_block %}
  <div class="container my-5">
    <div class="card">
      <div class="row">
        <aside class="col-sm-5 border-right">
          <article class="gallary-wrap">
            <div class="image-wrap">
              <div class="img-big-wrap">
                <a href="#"><img src="/media/{{object.mainimage}}" style="width:450px"></a>
              </div>
            </div>
          </article>
        </aside>
        <aside class="col-sm-7">
          <article class="card-body p-5">
            <h3 class="title mp-3" >{{object.name}}</h3>
            <p class="price-detail-wrap">
              <span class="price h3 text-warning">
                <span class="currency">BDT &#2547;</span><span class="num">{{object.price}}</span>
              </span>
            </p>
            <p>Category: {{ product.category.name }}</p>
            <dl class="item-property">
              <dt>Description</dt>
              <dd>
                <p>{{object.detail_text|linebreaks}}</p>
              </dd>
            </dl>
            {% if product.product_quantity <= 0 %}
              <h3>Out of stock</h3>
              <a class="btn btn-lg btn-outline-primary text-uppercase" style="color:currentColor; cursor:not-allowed; opacity:.5; text-decoration: none" > <i class="fa fa-shopping-cart"></i> Add to Cart </a>
            {% else %}
              <a href="{% url 'App_Order:add' pk=object.pk %}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
            {% endif %}
          </article>
        </aside>
      </div>
    </div>
  </div>


{% endblock %}
